body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed; /*Fixed position of yellow nav bar*/
  width: 100%;
}



section {
  margin: 0 auto;
  width: 60%; /* Width of the div elements */
}

h1 {             /* font style of yellow nav bar */
  font-family: sans-serif;
  font-size: 2em;
}


.example, h3 {        /* Center aligns all text and adds padding from the top */
  padding-top: 30px;
  text-align: center;
}

h3 {                   /* Font size for all div elements */
  font-size: 1.3em;
}

.element {                    /* Changes the style of all div elements */
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.element1 {                 /*New class I made to change the last 3 div elements*/
  background-color: pink;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
